<div class="container">
  <div class="col-md-7 col-md-offset-3">
    <h1 class="title"><img src="https://www.zerowater.com/images/search.png"> Search QuizMe</h1>
    <p class="description">Looking for extra study materials or lessons to prep you for your upcoming quizzes, exams, or just to gain a deeper understanding
      of a particular subject that you're weak in? You're in it for a ride, we may have just what you are looking for!</p>
    <p class="description">This app allows you to search for trivia questions in all randomized subjects.</p>
    <p class="description">Refresh your browser to retrieve more random questions!</p></p>
    <div class="col-md-10 col-md-offset-1">
      <input type="text" class="form-control" ng-model="search" placeholder="Search by subjects or category">
    </div>
    <div class="col-md-12">
      <table class="table table" ng-show="showQuizzes">
        <tr class="tables">
          <th class="table-header">CATEGORY</th>
          <th class="table-header">QUESTION</th>
          <th class="table-header">ANSWER</th>
        </tr>
        <tr class="tables" ng-repeat="quiz in quizzes | filter: search | orderBy: 'category'" ui-sref="quiz({id: quiz.question})">
          <td>{{ quiz.category }}</td>
          <td>{{ quiz.question }}</td>
          <td>{{ quiz.correct_answer}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>